@import url('https://fonts.googleapis.com/css2?family=Encode+Sans&family=Fira+Code&family=Fuggles&family=Montserrat:ital,wght@1,600&family=Mooli&family=Ubuntu:ital,wght@1,500&display=swap');@import url('https://fonts.googleapis.com/css2?family=Encode+Sans&family=Fira+Code&family=Fuggles&family=Montserrat:wght@200&family=Mooli&family=Ubuntu:ital,wght@1,500&display=swap');
body {
    margin: 0;
    background-color: black;
    color: white;
}
.navbar{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:green;
}
.navbar-left{
    padding-left: 20px;
}
.logo-image {
    height: 100px;
}
.navbar-right{
    padding-right: 20px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.a-element{
    padding: 10px;
    border:2px solid blue;
    margin:10px;
}
.home{
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    height: 80vh;
    border:2px solid blue; 
}
.home-right{
    width:50vw;
    padding: right 200px; 
    margin:right 100px;
}
.home-h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}
.home-p {
    font-family: 'Encode Sans', sans-serif;
    font-size: 20px;
}
.services {
    padding: 50px;
    text-align: center;
}
.ser-h1 {
    font-family: 'Ubuntu', sans-serif;
    color: rgb(59, 211, 59);
    letter-spacing: 3px;
    font-size: 50px;
    font-style: italic;
}
.services-sub-cont {
    display: flex;
    flex-direction: row;

}
.services-card {
    border: 2px rgb(47, 168, 47) solid;
    margin: 20px;
    padding: 20px;
    width: 400px;
}
.sc-h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}
.sc-p {
    font-family: 'Encode Sans', sans-serif;
    font-size: 20px;
}
.contact {
    text-align: center;
}
.contact-info {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}
.test-logo {
    height: 50px;
}
.social-icon-img {
    height: 50px;
    padding: 20px;
}
p{
    font-size:large;
}
.a{
    font-size: large;
}